@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('/node_modules/flag-icons/css/flag-icons.min.css');

/* For global style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

.fi-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* Start for header */
header{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 52px;
    height: 52px;
}

.logo .logo-name{
    padding-left: 12px;
    font-size: 24px;
}

.category, .multy{
    overflow: hidden;
    margin-left: 35px;
}

.category .dropbtn, .multy .globe{
    margin-left: 25px;
    font-size: 18px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    border: 1px solid black;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.category:hover .dropdown-content {
    display: block;
}

.search{
    display: flex;
    align-items: center;
    margin: 0px 55px;
    width: 420px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.searchbtn{
    background-color: inherit;
    border: none;
    cursor: not-allowed;
    outline: none;
    width: 20px;
    height: 100%;
    font-size: 18px;
    margin: 0px 10px;
    color: rgb(192, 192, 192);
}

.search input[name="text"]{
    height: 45px;
    width: 373px;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-size: 18px;
    outline: none;
}

.acount{
    display: flex;
    margin-left: 60px;
}

.sign-in, .create-acount{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.sign-in{
    width: 75px;
}

.create-acount{
    width: 135px;
    background-color: rgb(255, 127, 227);
}

.sign-in:hover{
    background-color: rgb(207, 205, 205);
}

.create-acount:hover{
    background-color: rgb(235, 115, 209);
}
/* Finish for header */

/* Start navigate for category curse */
.navbar{
    padding: 0px 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px, -1px 5px .4em grey;
}

.navbar .category .dropdown-content{
    background-color: #000;
    color: #fff;
}

.navbar .dropdown-content a{
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {
    background-color: #dddddd21;
}
/* Finish navigate for category curse */

/* Start code slider */
#slider{
    width: 100%;
    height: 480px;
    background-color: color-mix(in lch, coral, orange);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider_content{
    background-color: #fff;
    width: 420px;
    min-height: 110px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
}

.slider_content-subheader, .slider_content-text{
    text-align: justify;
    overflow: hidden;
}

.slider_content-subheader{
    height: 110px;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
}

.slider_content-text{
    width: 100%;
    height: 50%;
    font-size: 24px;
}

.slider_image{
    width: 500px;
    height: 400px;
    background: url('../img/slider/picture-one.png') center center/cover no-repeat;
}
/* Finish code sider */

/* Start code choice of courses */
.choice_courses{
    width: 100%;
    min-height: 580px;
    padding: 10px 10px;
}

.choice_courses_subheader h2{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    height: 66px;
    overflow: hidden;
}

.choice_courses_btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

button[type="button"]{
    margin-left: 10px;
    min-width: 50px;
    min-height: 35px;
    padding: 10px;
    font-size: 24px;
    background: unset;
    border: none;
    cursor: pointer;
}

button[type="button"]:first-child{
    margin: 0;
    padding: 0;
}

button[type="button"]:hover{
    font-size: 24px;
    font-weight: 500;
}

.choice_courses_lessons{
    width: 100%;
    min-height: 470px;
    border: 1px solid darkgrey;
}

/* Finish code choice of courses */

/* Start  */
.prospects{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #dfdada73;
}

.prospects_block{
    width: 395px;
    height: 64px;
    display: flex;
}

.circle{
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7a777736;
    font-size: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.prospects_text-content{
    margin-left: 10px;
    width: 310px;
    height: 65px;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
}
/* Finish  */

/* Start code product */

/* Finish code product */

footer{
    width: 100%;
    height: 210px;
    background: #000000fb;
    display: flex;
    justify-content: space-between;
    flex-wrap: 15px;
}

/* Style for modale window */

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .56);
    top: 0;
    display: none;
}

.modale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    max-height: 240px;
    background: #d1cfcf;
    padding: 38px 20px;
}

.modale .modale_close{
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    cursor: pointer;
    color: #fff; 
}

.modale .modale_subtitle{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
}

.modale .modale_lang{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.modale .modale_lang span{
    width: 150px;
    font-size: 19px;
    height: 23px;
}

.modale .modale_lang span a{
    width: 28px;
    height: 18px;
}